<!DOCTYPE html>

<html lang="pt">

<head>

  <meta charset="UTF-8">

  <title>Cadastrar Exemplar</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <div class="container">

    <h1>Cadastrar Livro</h1>

    <form action="/exemplar/cadastrar" method="post">

      <label for="livroId" >Título do Livro:</label>

      <select id="livroId" name="livroId" required>

      </select>

      <div class="button-group">

        <button type="submit">Cadastrar</button>

      </div>

    </form>

    

  </div>



  <script src="/js/exemplar-cadastro.js"></script>

</body>

</html>
