<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>

    <meta charset="UTF-8">

    <title>Lista de Areas de Conhecimento</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <h1>Lista de Areas de Conhecimento</h1>

    <table>

        <thead>

        <tr>

            <th>ID</th>

            <th>Nome</th>

            <th>Descricao</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="areaConhecimento : ${area}">

            <td th:text="${areaConhecimento.id}"></td>

            <td th:text="${areaConhecimento.nome}"></td>

            <td th:text="${areaConhecimento.descricao}"></td>

        </tr>

        </tbody>

    </table>

    <div style="margin-top: 20px;">

      <a href="/">

        <button>Voltar ao Menu Principal</button>

      </a>

    </div>

</div>

</body>

</html>
