<!DOCTYPE html>

<html lang="pt">

<head>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>📚SGB - Menu Principal</title>

  <link rel="stylesheet" href="/css/menu.css">

  

</head>

<body>

  <header>

    <h1>Menu Principal</h1>

  </header>



  <div id="menu-principal">

    <label for="menu-select">Escolha um Menu:</label>

    <select id="menu-select">

      <option value="">-- Selecione --</option>

      <option value="menu-usuarios">Menu Usuários</option>

      <option value="menu-livros">Menu Livros</option>

      <option value="menu-exemplares">Menu Exemplares</option>

      <option value="menu-areas">Menu Áreas de Conhecimento</option>

      <option value="menu-autores">Menu Autores</option>

      <option value="menu-editoras">Menu Editoras</option>

      <option value="menu-emprestimos">Menu Empréstimos</option>

    </select>

  </div>



  <div id="conteudo-menu"></div>



  <script  src="/js/main.js"></script>

</body>

</html>
